/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* header */

header{
    width: 100vw;
    text-align: center;
}

.container{
    width:1180px;
    margin:auto;
}

/* nav */

nav{
    
    width: 1180px;
    margin: auto;
    height: 80px;
    /* border: 1px solid black; */
    position: absolute;
    line-height: 80px;                             /*per farla uscire dal flusso */
    font-size: 14px;
    text-transform: capitalize;
    z-index: 999;
}

#logo{
    float: left;
    margin: 23px 0;
}



nav ul{
    display: inline;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}

nav ul li a{
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

nav .accedi{
    float: right;
    background-color: white;
    width: 70px;
    height: 40px;
    line-height: 40px;
    margin: 23px 0;
    border-radius: 40px;
}

nav .accedi a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

nav ul li a.nav-btn:hover{
    text-decoration: underline;
}

/* jumbotron */

.jumbotron{
    background-image:url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:626px ;
    width: 100%;
    position: relative;
}

.jumbotron .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}

.jumbotron .content h1{
    font-size: 52px;
    margin-bottom: 50px;
    
}

.jumbotron .content p{
    font-size: 20px;
    margin-top: 40px;
    line-height: 32px;
}

.btn-sect{
    position: absolute;
    bottom: 0;
    transform: translate(0,100%);
    width: 100%;
    padding: 40px 0;
}

.btn-sect a i{
    margin-right:10px;
    font-size: 20px;
}

.btn{
    display: inline-block;
    height: 56px;
    border-radius:56px;
    line-height: 56px;
    padding:0 30px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

.btn:hover{
    box-shadow:0 2px 8px #333333b6, 0 3px 8px #00000005;
    transition: 0.2s;
}

.w-b{
    color: black;
    background-color: white;
}

.w-b:hover{
    color:#738adb;
}

.b-w{
    color:white ;
    background-color:black ;
}

